@import "tailwindcss";

@font-face {
  font-family: Pixelify-Sans;
  src: url('/font/Pixelify_Sans/static/PixelifySans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-Pixelify-Sans: "Pixelify-Sans"; 
}